@main("ToDo Task List") {
  <div style="padding-top: 1cm">
    <table class="table table-bordered table-striped">
      <thead>
        <tr style="background-color: #EEEEEE">
          <th class="text-center">#</th>
          <th class="text-center">ID</th>
          <th class="text-center">Task</th>
          @*<th class="text-center">Description</th>*@
          <th class="text-center">Creation Date</th>
          <th class="text-center">Expiration Date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Executor</th>
          <th class="text-center">Assigner</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td class="text-center">1</td>
          <td>190520171125</td>
          <td>Make table</td>
          @*<td>Make task table with headers and data.</td>*@
          <td>19/05/2017</td>
          <td>24/05/2017</td>
          <td class="success">Complete</td>
          <td>Stepan Cheremisin</td>
          <td>Roman Gulyaev</td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td>200520171643</td>
          <td>Dance rap on the head</td>
          @*<td>Dance like Roman in the sauna.</td>*@
          <td>20/05/2017</td>
          <td>25/05/2017</td>
          <td class="warning">In progress</td>
          <td>Stepan Cheremisin</td>
          <td>Roman Gulyaev</td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td>220520171244</td>
          <td>Drink vodka</td>
          @*<td>Relax in the Kefir bar with a glass of pure vodka.</td>*@
          <td>22/05/2017</td>
          <td>23/05/2017</td>
          <td class="danger">Expired</td>
          <td>Stepan Cheremisin</td>
          <td>Roman Gulyaev</td>
        </tr>
        <tr>
          <td class="text-center">4</td>
          <td>210520171732</td>
          <td>Training in the gym</td>
          @*<td>Need to go to the gym and spend a hard training day</td>*@
          <td>21/05/2017</td>
          <td>28/05/2017</td>
          <td class="success">Complete</td>
          <td>Stepan Cheremisin</td>
          <td>Roman Gulyaev</td>
        </tr>
        <tr>
          <td class="text-center">5</td>
          <td>230520171856</td>
          <td>Smoke</td>
          @*<td>Make an apple-pen and smoke some grasshoppers</td>*@
          <td>23/05/2017</td>
          <td>27/05/2017</td>
          <td class="warning">In progress</td>
          <td>Stepan Cheremisin</td>
          <td>Roman Gulyaev</td>
        </tr>
      </tbody>

    </table>
  </div>


}